  <mat-list>
    <mat-list-item>Choose a column</mat-list-item>
    <mat-list-item>
      <mat-select placeholder="Group by" 
        [(ngModel)]="groupingColumn" name="item"
        (ngModelChange)="buildDataSource()">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let item of displayedColumns" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
    <td mat-cell *matCellDef="let row">{{ row[col] }}</td>
  </ng-container>

  <!-- Default Table lines -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Group header cells-->
  <ng-container matColumnDef="groupHeader">
    <td colspan="999" mat-cell *matCellDef="let group">
      <strong>{{group.groupName}}</strong>
    </td>
  </ng-container>
  <ng-container matColumnDef="groupReducer">
    <td colspan="1" mat-cell *matCellDef="let group">
      <div fxFill fxLayoutAlign="center center">
        <mat-icon *ngIf="!group.reduced">expand_more</mat-icon>
        <mat-icon *ngIf="group.reduced">chevron_right</mat-icon>
      </div>
    </td>
  </ng-container>

  <!-- Group line -->
  <tr mat-row  class="clickable"
      *matRowDef="let row; columns: ['groupReducer','groupHeader']; when: isGroup" 
      (click)="reduceGroup(row)" > 
  </tr>

</table>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->